h1 {
  background-color: rgb(153, 77, 0);
  color: white;
  text-shadow: -1px 0 rgb(148, 73, 38), 0 2px rgb(148, 73, 38), 2px 0 rgb(148, 73, 38), 0 -1px rgb(148, 73, 38);
  font-size: 55px;
  letter-spacing: 3px;
  margin-top: 0;
  border-bottom: 2px solid white;
  width: 100%;
}

.description {
  width: 80%;
  padding: 1em;
  margin: 1em;
}

.imageView {
  display: flex;
  justify-content: flex-start;
}

.Pic {
  border: 2px solid rgb(179, 89, 0);
  width: 50%;
  max-height: fit-content;
}

.App {
  position: fixed;
  text-align: center;
  background-color: rgb(102, 51, 0);
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.patkis {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100%;
}

p {
  font-weight: 500;
  color: white;
}

.arrow {
  color: rgb(250, 250, 250);
  stroke: white;
  stroke-width: 0.5;
}

.arrow:hover {
  stroke: rgb(96, 238, 200);
  stroke-width: 1;
}

.arrow:focus {
  stroke: rgb(96, 238, 200);
  stroke-width: 1;
}

.focus {
  stroke: rgb(96, 238, 200);
  stroke-width: 1;
}

@media (max-width: 1250px) {
  .patkis {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .imageView {
    display: flex;
    justify-content: center;
  }

  .description {
    display: flex;
    justify-content: center;
  }
}
